body{
    margin: 0;
    font-size: 16px;
}
header>h1{
    margin: 0;
    line-height: 70px;
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: blue;
}
h1 a{
    color: black;
}

header{
    height: 70px;
    width: 100%;
    display: flex;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    /* position: fixed; */
    user-select: none;

}
#navi{
    width: 100%;
}
#navi ul{
    margin: 0;
    line-height: 70px;
    display: flex;
    justify-content: flex-end;
}
header div ul li{
    width: 150px;
    list-style: none;
    text-align: center;
}
li:hover{
    background-color: bisque;
    cursor: pointer;
}


table{
    border:2px solid #eee;
    border-collapse: collapse;
    margin: 30px;
}
thead, tfoot{
    background-color: #eee;
}
th, td{
    padding:16px;
    text-align: center;
}

tbody td:first-child{
    color:red;
}
tbody td:last-child{
    color: blue;
}
tfoot{
    font-weight: bold;
}

td.disabled{
    opacity: 0.3;
}
td.today{
    font-weight:bold;
}
#prev,#next,#today{
    cursor: pointer;
    user-select: none;
}

.content{
    margin: 30px;
}